.App {
  text-align: center;
  padding: 50px;
  justify-content: center;
}

.Background{
  position: 'relative';
  background-image: url('../../assets/home.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  text-align: center;
  color: white;
}

.App-logo {
  overflow: 'hidden';
  width: 100%;
  height: auto;
  pointer-events: none;
}

.bluecolor{
  color:blue !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@keyframes slideInSidenav {
  0% {
    width: 0px;
  }
  80% {
    width: 250px;
  }
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  animation: 0.25s ease-in-out 0s 1 slideInSidenav;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
